<footer>
    <div class="grid wide">
        <div class="row sm-gutter footer-up">
            <div class="col l-2-4">
                <div class="footer-introduce">
                    <h3 class="footer-introduce-title">Chăm Sóc Khách Hàng</h3>
                    <ul class="footer-introduce-list">
                        <li class="footer-introduce-item">
                            <a href="#" class="footer-introduce-item-link">
                                Trung Tâm Trợ Giúp
                            </a>
                        </li>

                        <li class="footer-introduce-item">
                            <a href="#" class="footer-introduce-item-link">
                                Shopee Blog
                            </a>
                        </li>

                        <li class="footer-introduce-item">
                            <a href="#" class="footer-introduce-item-link">
                                Shopee Mall
                            </a>
                        </li>

                       <li class="footer-introduce-item">
                            <a href="#" class="footer-introduce-item-link">
                                Hướng Dẫn Mua Hàng
                            </a>
                        </li>

                        <li class="footer-introduce-item">
                            <a href="#" class="footer-introduce-item-link">
                                 Hướng Dẫn Bán Hàng
                            </a>
                        </li>

                        <li class="footer-introduce-item">
                            <a href="#" class="footer-introduce-item-link">
                                Thanh Toán
                            </a>
                        </li>

                        <li class="footer-introduce-item">
                            <a href="#" class="footer-introduce-item-link">
                               Shopee Xu
                            </a>
                        </li>

                        <li class="footer-introduce-item">
                            <a href="#" class="footer-introduce-item-link">
                                Vận Chuyển
                            </a>
                        </li>

                        <li class="footer-introduce-item">
                            <a href="#" class="footer-introduce-item-link">
                                Trả Hàng & Hoàn Tiền
                            </a>
                        </li>

                        <li class="footer-introduce-item">
                            <a href="#" class="footer-introduce-item-link">
                                Chăm Sóc Khách Hàng
                            </a>
                        </li>

                        <li class="footer-introduce-item">
                            <a href="#" class="footer-introduce-item-link">
                                Chính Sách Bảo Hành
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col l-2-4">
                <div class="footer-introduce">
                    <h3 class="footer-introduce-title">Về Shopee</h3>
                    <ul class="footer-introduce-list">
                        <li class="footer-introduce-item">
                            <a href="#" class="footer-introduce-item-link">
                                Giới Thiệu Về Shopee Việt Nam
                            </a>
                        </li>

                        <li class="footer-introduce-item">
                            <a href="#" class="footer-introduce-item-link">
                                Tuyển Dụng
                            </a>
                        </li>

                        <li class="footer-introduce-item">
                            <a href="#" class="footer-introduce-item-link">
                                Điều Khoản Shopee
                            </a>
                        </li>

                       <li class="footer-introduce-item">
                            <a href="#" class="footer-introduce-item-link">
                                Chính Sách Bảo Mật
                            </a>
                        </li>

                        <li class="footer-introduce-item">
                            <a href="#" class="footer-introduce-item-link">
                                 Chính Hãng
                            </a>
                        </li>

                        <li class="footer-introduce-item">
                            <a href="#" class="footer-introduce-item-link">
                                Kênh Người Bán
                            </a>
                        </li>

                        <li class="footer-introduce-item">
                            <a href="#" class="footer-introduce-item-link">
                               Flash Sales
                            </a>
                        </li>

                        <li class="footer-introduce-item">
                            <a href="#" class="footer-introduce-item-link">
                                Chương Trình Tiếp Thị Liên Kết Shopee
                            </a>
                        </li>

                        <li class="footer-introduce-item">
                            <a href="#" class="footer-introduce-item-link">
                                Liên Hệ Truyền Thông
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col l-2-4">
                <div class="footer-pay">
                    <h3 class="footer-introduce-title">Thanh Toán</h3>
                    <ul class="footer-pay-list">
                        <li class="footer-pay-item">
                            <div class="footer-vn-background footer-vn-vi-sa-png"></div>
                        </li>
                        <li class="footer-pay-item">
                            <div class="footer-vn-background footer-vn-master-card-png"></div>
                        </li>
                        <li class="footer-pay-item">
                            <div class="footer-vn-background footer-vn-jcb-png"></div>
                        </li>
                        <li class="footer-pay-item">
                            <div class="footer-vn-background footer-vn-amex-png"></div>
                        </li>
                        <li class="footer-pay-item">
                            <div class="footer-vn-background footer-vn-cod"></div>
                        </li>
                        <li class="footer-pay-item">
                            <div class="footer-vn-background footer-vn-installment"></div>
                        </li>
                        <li class="footer-pay-item">
                            <div class="footer-vn-background footer-vn-shopeepay"></div>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col l-2-4">
                <div class="footer-introduce">
                    <h3 class="footer-introduce-title">Theo Dõi Chúng Tôi Trên</h3>
                    <ul class="footer-introduce-list">
                        <li class="footer-introduce-item footer-follow">
                            <i class="footer-introduce-icon fab fa-facebook"></i>
                            <a href="#" class="footer-introduce-item-link">
                                <span class="footer-introduce-media">Facebook</span>
                            </a>
                        </li>

                        <li class="footer-introduce-item footer-follow">
                            <i class="footer-introduce-icon fab fa-instagram"></i>
                            <a href="#" class="footer-introduce-item-link">
                                <span class="footer-introduce-media">Instagram</span>
                            </a>
                        </li>

                        <li class="footer-introduce-item footer-follow">
                            <i class="footer-introduce-icon fab fa-linkedin"></i>
                            <a href="#" class="footer-introduce-item-link">
                                <span class="footer-introduce-media">Linkedln</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col l-2-4">
                <div class="footer-introduce">
                    <h3 class="footer-introduce-title">Tải Ứng Dụng Shopee Ngay Thôi</h3>
                    <ul class="footer-introduce-list">
                        <li class="footer-introduce-item">
                            <a href="#" class="footer-introduce-item-link">
                               <img src="/img/appstore_dowload.png" alt="App Store" class="footer-introduce-download-img">
                            </a>
                        </li>

                        <li class="footer-introduce-item">
                            <a href="#" class="footer-introduce-item-link">
                                 <img src="/img/androi_dowload.png" alt="Google Play" class="footer-introduce-download-img">
                            </a>
                        </li>

                        <li class="footer-introduce-item">
                            <a href="#" class="footer-introduce-item-link">
                                <img src="/img/galleri_dowload.png" alt="AppGallery" class="footer-introduce-download-img">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row sm-gutter footer-down-top hidden-on-mobile" >
            <div class="col l-4">
                <p class="footer-down-top-description">
                    © 2021 Shopee. Tất cả các quyền được bảo lưu.
                </p>
            </div>

            <div class="col l-8">
                <div class="footer-down-top-location">
                    <div class="footer-down-top-location-country">
                        Quốc gia & Khu vực:
                    </div>

                    <div class="footer-down-top-location-country-name">
                        <a href="#" class="footer-down-top-location-country-link">
                            Singapore
                        </a>
                    </div>

                    <div class="footer-down-top-location-country-name">
                        <a href="#" class="footer-down-top-location-country-link">
                            Indonesia
                        </a>
                    </div>

                    <div class="footer-down-top-location-country-name">
                        <a href="#" class="footer-down-top-location-country-link">
                            Đài Loan
                        </a>
                    </div>

                    <div class="footer-down-top-location-country-name">
                        <a href="#" class="footer-down-top-location-country-link">
                            Thái Lan
                        </a>
                    </div>

                    <div class="footer-down-top-location-country-name">
                        <a href="#" class="footer-down-top-location-country-link">
                            Malaysia
                        </a>
                    </div>

                    <div class="footer-down-top-location-country-name">
                        <a href="#" class="footer-down-top-location-country-link">
                            Viêt Nam
                        </a>
                    </div>

                    <div class="footer-down-top-location-country-name">
                        <a href="#" class="footer-down-top-location-country-link">
                            Philippines
                        </a>
                    </div>

                    <div class="footer-down-top-location-country-name">
                        <a href="#" class="footer-down-top-location-country-link">
                            Brazil
                        </a>
                    </div>

                    <div class="footer-down-top-location-country-name">
                        <a href="#" class="footer-down-top-location-country-link">
                            México
                        </a>
                    </div>

                    <div class="footer-down-top-location-country-name">
                        <a href="#" class="footer-down-top-location-country-link">
                            Colombia
                        </a>
                    </div>

                    <div class="footer-down-top-location-country-name">
                        <a href="#" class="footer-down-top-location-country-link">
                            Chile
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col l-12 footer-down-bottom">
                <div class="footer-down-rule hidden-on-mobile">
                    <div class="footer-down-rule-item">
                        <a href="#" class="footer-down-rule-item__link">
                            Chính Sách Bảo Mật
                        </a>
                    </div>

                    <div class="footer-down-rule-item">
                        <a href="#" class="footer-down-rule-item__link">
                           Quy Chế Hoạt Động
                        </a>
                    </div>

                    <div class="footer-down-rule-item">
                        <a href="#" class="footer-down-rule-item__link">
                           Chính Sách Vận Chuyển
                        </a>
                    </div>

                    <div class="footer-down-rule-item">
                        <a href="#" class="footer-down-rule-item__link">
                            Chính Sách Trả Hàng Và Hoàn Tiền
                        </a>
                    </div>
                </div>

                <div class="footer-down-coppy-right">
                    <a href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=18375" class="footer-down-coppy-right-link">
                        <div class="footer-vn-background footer-vn-registered_red-png"></div>
                    </a>

                    <a href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=18375" class="footer-down-coppy-right-link">
                        <div class="footer-vn-background footer-vn-registered_red-png"></div>
                    </a>

                    <a href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=18375" class="footer-down-coppy-right-link">
                        <div class="footer-vn-background footer-vn-no-fake-png"></div>
                    </a>
                </div>

                <div class="business footer-down-name-business">
                    Công ty TNHH Shopee
                </div>

                <div class="business footer-down-address-business">
                    Địa chỉ: Tầng 4-5-6, Tòa nhà Capital Place, số 29 đường Liễu Giai, Phường Ngọc Khánh, Quận Ba Đình, Thành phố Hà Nội, Việt Nam. Tổng đài hỗ trợ: 19001221 - Email: cskh@hotro.shopee.vn
                </div>

                <div class="business footer-down-person-responsible">
                    Chịu Trách Nhiệm Quản Lý Nội Dung: Trần Quang Đức - Điện thoại liên hệ: 0356760240 (ext 4678)
                </div>

                <div class="business footer-down-business-code">
                    Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch & Đầu tư TP Hà Nội cấp lần đầu ngày 10/02/2015
                </div>

                <div class="business footer-down-name-business">
                    © 2015 - Bản quyền thuộc về Công ty TNHH Shopee
                </div>
            </div>
        </div>
    </div>
</footer>