<header class="header">
    {{> header }}
</header>

<div class="main">
    <div class="grid wide">
        <div class="full-home-banners">
            <div class="full-home-banners-main row sm-gutter hidden-on-mobile">
                <div class="col l-8 m-8 c-8">
                    <div class="banner-main">
                        <div class="banner-directional">
                            <div class="banner-directional-wrap-icon icon-banner-directional-left">
                                <i class="icon-banner-directional fas fa-chevron-left"></i>
                            </div>
                           <div class="banner-directional-wrap-icon icon-banner-directional-right">
                                <i class="icon-banner-directional  fas fa-chevron-right"></i>
                            </div>
                        </div>

                        <div class="banner-main-imgs">
                            <a href="" class="banner-main-imgs-link">
                                <img src="https://cf.shopee.vn/file/2cf0a8a328bbf97f10d8fb41e8be997a_xxhdpi" alt="BANNER" class="banner-main-img">
                            </a>

                            <a href="" class="banner-main-imgs-link">
                                <img src="https://cf.shopee.vn/file/b7104b1e5f00d64133f7af2704ac1fcf_xxhdpi" alt="BANNER" class="banner-main-img">
                            </a>

                            <a href="" class="banner-main-imgs-link">
                                <img src="https://cf.shopee.vn/file/ed66809462319acb30a0e66a90c29a4c_xxhdpi" alt="BANNER" class="banner-main-img">
                            </a>

                            <a href="" class="banner-main-imgs-link">
                                <img src="https://cf.shopee.vn/file/ca4a2d498074e899f5ada43c8faa08ac_xxhdpi" alt="BANNER" class="banner-main-img">
                            </a>

                            <a href="" class="banner-main-imgs-link">
                                <img src="https://cf.shopee.vn/file/b8835ce0c5b8885e9197a7903b8efec7_xxhdpi" alt="BANNER" class="banner-main-img">
                            </a>

                            <a href="" class="banner-main-imgs-link">
                                <img src="https://cf.shopee.vn/file/3cfabbee53a2b12d9eaffa9bc2c3689e_xxhdpi" alt="BANNER" class="banner-main-img">
                            </a>

                            <a href="" class="banner-main-imgs-link">
                                <img src="https://cf.shopee.vn/file/d22141163d440503a433420857ae7886_xxhdpi" alt="BANNER" class="banner-main-img">
                            </a>

                            <a href="" class="banner-main-imgs-link">
                                <img src="https://cf.shopee.vn/file/0cb58c0d6ce3f45da940ac3258e2f2fe_xxhdpi" alt="BANNER" class="banner-main-img">
                            </a>

                            <a href="" class="banner-main-imgs-link">
                                <img src="https://cf.shopee.vn/file/bfd16fc36c3986b678a763f939439109_xxhdpi" alt="BANNER" class="banner-main-img">
                            </a>

                            <a href="" class="banner-main-imgs-link">
                                <img src="https://cf.shopee.vn/file/519bc5a72d5c9d95bd21087744d374d8_xxhdpi" alt="BANNER" class="banner-main-img">
                            </a>

                            <a href="" class="banner-main-imgs-link">
                                <img src="https://cf.shopee.vn/file/5fd2c2e4044686a5acc7ee230ca43842_xxhdpi" alt="BANNER" class="banner-main-img">
                            </a>

                            <a href="" class="banner-main-imgs-link">
                                <img src="https://cf.shopee.vn/file/806ace7aa572f033af070b3c3cd69665_xxhdpi" alt="BANNER" class="banner-main-img">
                            </a>

                            <a href="" class="banner-main-imgs-link">
                                <img src="https://cf.shopee.vn/file/384e345aff6cf1648217e7f2b6e45bbd_xxhdpi" alt="BANNER" class="banner-main-img">
                            </a>

                            <a href="" class="banner-main-imgs-link">
                                <img src="https://cf.shopee.vn/file/c674118fe4c94b46231e0adf8ec64960_xxhdpi" alt="BANNER" class="banner-main-img">
                            </a>

                            <a href="" class="banner-main-imgs-link">
                                <img src="https://cf.shopee.vn/file/4b0acf215c8fe2f89c99fe952caea57d_xxhdpi" alt="BANNER" class="banner-main-img">
                            </a>

                            <a href="" class="banner-main-imgs-link">
                                <img src="https://cf.shopee.vn/file/1a1f295a29c56587f50290c9d61e140a_xxhdpi" alt="BANNER" class="banner-main-img">
                            </a>
                        </div>

                        <div class="select-banner-imgs"></div>
                    </div>
                </div>

                <div class="col l-4 m-4 c-6 c-4">
                    <div class="banner-subs">
                        <a href="#" class="banner-sub-link">
                            <img src="https://cf.shopee.vn/file/672e2e85ca7c133b9c2db6f08477f183_xhdpi" alt="Banner Sub" class="banner-sub-img">
                        </a>

                        <a href="#" class="banner-sub-link">
                            <img src="https://cf.shopee.vn/file/af9a64bf10a76aa244f3c04280c98878_xhdpi" alt="Banner Sub" class="banner-sub-img">
                        </a>
                    </div>
                </div>
            </div>

            <div class="full-home-category">
                <a href="#" class="full-home-category-link">
                    <div class="full-home-category-background background-sale- full-home-background-category-1"></div>
                    <p class="full-home-category-description">
                        Tech Zone - Siêu Thị Điện Tử
                    </p>
                </a>

                <a href="#" class="full-home-category-link">
                    <div class="full-home-category-background full-home-background-category-2"></div>
                    <p class="full-home-category-description">
                        Gì Cũng Rẻ - Từ 1K
                    </p>
                </a>

                <a href="#" class="full-home-category-link">
                    <div class="full-home-category-background full-home-background-category-3"></div>
                    <p class="full-home-category-description">
                        Hoàn Xu 20% - Đơn Từ 0 Đồng
                    </p>
                </a>

                <a href="#" class="full-home-category-link">
                    <div class="full-home-category-background full-home-background-category-4"></div>
                    <p class="full-home-category-description">
                        Nạp Thẻ, Hóa Đơn & E-voucher
                    </p>
                </a>

                <a href="#" class="full-home-category-link">
                    <div class="full-home-category-background full-home-background-category-5"></div>
                    <p class="full-home-category-description">
                        Shopee Số Gì Đây
                    </p>
                </a>

                <a href="#" class="full-home-category-link">
                    <div class="full-home-category-background full-home-background-category-6"></div>
                    <p class="full-home-category-description">
                        Freeship Xtra 70k Mỗi Ngày
                    </p>
                </a>

                <a href="#" class="full-home-category-link">
                    <div class="full-home-category-background full-home-background-category-7"></div>
                    <p class="full-home-category-description">
                        Hàng Hiệu -50%
                    </p>
                </a>

                <a href="#" class="full-home-category-link">
                    <div class="full-home-category-background full-home-background-category-8"></div>
                    <p class="full-home-category-description">
                        Hàng Quốc Tế - Deal Đồng Giá
                    </p>
                </a>

                <a href="#" class="full-home-category-link">
                    <div class="full-home-category-background full-home-background-category-9"></div>
                    <p class="full-home-category-description">
                        Shopee Premium
                    </p>
                </a>

                <a href="#" class="full-home-category-link">
                    <div class="full-home-category-background full-home-background-category-10"></div>
                    <p class="full-home-category-description">
                        Yên Tâm Mua Hàng
                    </p>
                </a>
            </div>
        </div>

        <div class="welcom-package-banner"></div>

        <div class="home-section-category">
            <div class="home-section-category-wrap-title">
                <h3 class="home-section-category__title">Danh Mục</h3>
            </div>

            <div class="home-section-category-wrap-content">
                <ul class="home-section-category-content-list">
                        <li class="home-section-category-content-item">
                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-1"></div>
                                <div class="home-section-category-content-title">Thời Trang Nam</div>
                            </a>

                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-2"></div>
                                <div class="home-section-category-content-title">Thời Trang Nữ</div>
                            </a>
                        </li>

                        <li class="home-section-category-content-item">
                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-3"></div>
                                <div class="home-section-category-content-title">Điện Thoại & Phụ Kiện</div>
                            </a>

                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-4"></div>
                                <div class="home-section-category-content-title">Mẹ & Bé</div>
                            </a>
                        </li>

                        <li class="home-section-category-content-item">
                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-5"></div>
                                <div class="home-section-category-content-title">Thiết Bị Điện Tử</div>
                            </a>

                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-6"></div>
                                <div class="home-section-category-content-title">Nhà Cửa & Đời Sống</div>
                            </a>
                        </li>

                        <li class="home-section-category-content-item">
                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-7"></div>
                                <div class="home-section-category-content-title">Máy Tính & Laptop</div>
                            </a>

                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-8"></div>
                                <div class="home-section-category-content-title">Sắc Đẹp</div>
                            </a>
                        </li>

                        <li class="home-section-category-content-item">
                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-9"></div>
                                <div class="home-section-category-content-title">Máy Ảnh & Máy Quay Phim</div>
                            </a>

                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-10"></div>
                                <div class="home-section-category-content-title">Sức Khỏe</div>
                            </a>
                        </li>

                        <li class="home-section-category-content-item">
                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-11"></div>
                                <div class="home-section-category-content-title">Đồng Hồ</div>
                            </a>

                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-12"></div>
                                <div class="home-section-category-content-title">Giày Dép Nữ</div>
                            </a>
                        </li>

                        <li class="home-section-category-content-item">
                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-13"></div>
                                <div class="home-section-category-content-title">Giày Dép Nam</div>
                            </a>

                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-14"></div>
                                <div class="home-section-category-content-title">Túi Ví Nữ</div>
                            </a>
                        </li>

                        <li class="home-section-category-content-item">
                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-15"></div>
                                <div class="home-section-category-content-title">Thiết Bị Điện Gia Dụng</div>
                            </a>

                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-16"></div>
                                <div class="home-section-category-content-title">Phụ Kiện & Trang Sức Nữ</div>
                            </a>
                        </li>

                        <li class="home-section-category-content-item">
                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-17"></div>
                                <div class="home-section-category-content-title">Thể Thao & Du Lịch</div>
                            </a>

                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-18"></div>
                                <div class="home-section-category-content-title">Bách Hóa Online</div>
                            </a>
                        </li>

                        <li class="home-section-category-content-item">
                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-19"></div>
                                <div class="home-section-category-content-title">Ô Tô & Xe Máy & Xe Đạp</div>
                            </a>

                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-20"></div>
                                <div class="home-section-category-content-title">Nhà Sách Online</div>
                            </a>
                        </li>

                        <li class="home-section-category-content-item">
                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-21"></div>
                                <div class="home-section-category-content-title">Balo & Túi Ví Nam</div>
                            </a>

                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-22"></div>
                                <div class="home-section-category-content-title">Thời Trang Trẻ Em</div>
                            </a>
                        </li>

                        <li class="home-section-category-content-item">
                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-23"></div>
                                <div class="home-section-category-content-title">Đồ Chơi</div>
                            </a>

                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-24"></div>
                                <div class="home-section-category-content-title">Giặt Giũ & Chăm Sóc Nhà Cửa</div>
                            </a>
                        </li>

                        <li class="home-section-category-content-item">
                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-25"></div>
                                <div class="home-section-category-content-title">Chăm Sóc Thú Cưng</div>
                            </a>

                            <a href="#" class="home-section-category-content-link">
                                <div class="home-section-category-content-background category-content-background-26"></div>
                                <div class="home-section-category-content-title">Voucher & Dịch Vụ</div>
                            </a>
                        </li>
                </ul>
            </div>

            <div class="carousel-arrow carousel-arrow--hint carousel-arrow--prev">
                <i class="carousel-arrow-icon fas fa-chevron-left"></i>
            </div>

            <div class="carousel-arrow carousel-arrow--hint carousel-arrow--next">
                <i class="carousel-arrow-icon fas fa-chevron-right"></i>
            </div>
        </div>

        <ul class="section-recommend-tab-list">
            <li class="section-recommend-tab-item">
                <div class="section-recommend-tab-locate-backgound"></div>
                <div class="section-recommend-tab-title">GỢI Ý HÔM NAY</div>
            </li>
            <li class="section-recommend-tab-item">
                <div class="section-recommend-tab-locate-backgound"></div>
                <div class="section-recommend-tab-wrap-img">
                    <img src="https://cf.shopee.vn/file/d4161ec94bb87d3278003b8e040c300d" alt="Ảnh" class="section-recommend-tab-img">
                </div>
            </li>
        </ul>

        <div class="section-recommend-products-wrap">
            <div class="row sm-gutter">
                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/87dac253d238204f31532d4dfedd6fd7_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">[TOORUNE] Son kem bóng Toorune</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">89.000</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 139</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">44%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/ff466fb31b00a39fa82a1d43a13564c2_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">[CHÍNH HÃNG] KINH ĐÔ BÁNH TRUNG THU BÁNH NƯỚNG - 1 Bánh Nướng 1 Trứng 150g</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">56.000</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 2.4K</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">44%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/0d0ae036edfdf573b9f1ad5027f8f8e0_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">Ghế ăn dặm Babywe BW01 cao cấp, dễ dàng gấp gọn và thay đổi chiều cao, cho bé từ 6-36 tháng tuổi</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">1.500.000</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 2</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">44%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/80ddc303a5bb0b6656b2399d9dca4a9d_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">Đồng Hồ Casio Nam Dây Thép Không Ghỉ EDIFICE EF-328SG-1AVUDF Chính Hãng</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">3.158.400</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 2</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">25%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/60929ce65b8080aa14e94762fe926af3_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">Đồ ngủ nữ sexy họa tiết nhiều màu, bộ đồ ngủ nữ lụa pijama quảng châu, đồ bộ nữ đồ mặc nhà cộc tay</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">108.800</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 120</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">36%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/a94e644f17641c49d5cb62a86fab1e0b_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">Giày đá bóng,giày đá banh sân cỏ nhân tạo đã khâu đế 100%</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">38.000</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 404</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">44%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>
            </div>

            <div class="row sm-gutter">
                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/87dac253d238204f31532d4dfedd6fd7_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">[TOORUNE] Son kem bóng Toorune</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">89.000</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 139</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">44%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/ff466fb31b00a39fa82a1d43a13564c2_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">[CHÍNH HÃNG] KINH ĐÔ BÁNH TRUNG THU BÁNH NƯỚNG - 1 Bánh Nướng 1 Trứng 150g</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">56.000</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 2.4K</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">44%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/0d0ae036edfdf573b9f1ad5027f8f8e0_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">Ghế ăn dặm Babywe BW01 cao cấp, dễ dàng gấp gọn và thay đổi chiều cao, cho bé từ 6-36 tháng tuổi</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">1.500.000</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 2</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">44%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/80ddc303a5bb0b6656b2399d9dca4a9d_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">Đồng Hồ Casio Nam Dây Thép Không Ghỉ EDIFICE EF-328SG-1AVUDF Chính Hãng</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">3.158.400</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 2</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">25%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/60929ce65b8080aa14e94762fe926af3_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">Đồ ngủ nữ sexy họa tiết nhiều màu, bộ đồ ngủ nữ lụa pijama quảng châu, đồ bộ nữ đồ mặc nhà cộc tay</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">108.800</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 120</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">36%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/a94e644f17641c49d5cb62a86fab1e0b_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">Giày đá bóng,giày đá banh sân cỏ nhân tạo đã khâu đế 100%</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">38.000</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 404</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">44%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>
            </div>

            <div class="row sm-gutter">
                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/87dac253d238204f31532d4dfedd6fd7_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">[TOORUNE] Son kem bóng Toorune</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">89.000</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 139</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">44%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/ff466fb31b00a39fa82a1d43a13564c2_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">[CHÍNH HÃNG] KINH ĐÔ BÁNH TRUNG THU BÁNH NƯỚNG - 1 Bánh Nướng 1 Trứng 150g</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">56.000</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 2.4K</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">44%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/0d0ae036edfdf573b9f1ad5027f8f8e0_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">Ghế ăn dặm Babywe BW01 cao cấp, dễ dàng gấp gọn và thay đổi chiều cao, cho bé từ 6-36 tháng tuổi</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">1.500.000</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 2</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">44%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/80ddc303a5bb0b6656b2399d9dca4a9d_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">Đồng Hồ Casio Nam Dây Thép Không Ghỉ EDIFICE EF-328SG-1AVUDF Chính Hãng</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">3.158.400</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 2</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">25%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                            Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/60929ce65b8080aa14e94762fe926af3_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">Đồ ngủ nữ sexy họa tiết nhiều màu, bộ đồ ngủ nữ lụa pijama quảng châu, đồ bộ nữ đồ mặc nhà cộc tay</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">108.800</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 120</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">36%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/a94e644f17641c49d5cb62a86fab1e0b_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">Giày đá bóng,giày đá banh sân cỏ nhân tạo đã khâu đế 100%</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">38.000</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 404</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">44%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="section-recommend-products-wrap" style="display: none">
            <div class="row sm-gutter">
                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/e0528770a21958df8fc04edc072d5fd6_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">[TOORUNE] Son kem bóng Toorune</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">89.000</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 139</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">44%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/5be589838118c7485836a0d795163ada_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">[CHÍNH HÃNG] KINH ĐÔ BÁNH TRUNG THU BÁNH NƯỚNG - 1 Bánh Nướng 1 Trứng 150g</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">56.000</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 2.4K</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">44%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/cef76ce7bb0eff3cde1409a7e6729663_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">Ghế ăn dặm Babywe BW01 cao cấp, dễ dàng gấp gọn và thay đổi chiều cao, cho bé từ 6-36 tháng tuổi</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">1.500.000</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 2</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">44%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/444af45662cd8fdda95a774d3dea22fc_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">Đồng Hồ Casio Nam Dây Thép Không Ghỉ EDIFICE EF-328SG-1AVUDF Chính Hãng</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">3.158.400</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 2</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">25%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/60929ce65b8080aa14e94762fe926af3_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">Đồ ngủ nữ sexy họa tiết nhiều màu, bộ đồ ngủ nữ lụa pijama quảng châu, đồ bộ nữ đồ mặc nhà cộc tay</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">108.800</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 120</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">36%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/a94e644f17641c49d5cb62a86fab1e0b_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">Giày đá bóng,giày đá banh sân cỏ nhân tạo đã khâu đế 100%</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">38.000</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 404</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">44%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>
            </div>

            <div class="row sm-gutter">
                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/e0528770a21958df8fc04edc072d5fd6_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">[TOORUNE] Son kem bóng Toorune</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">89.000</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 139</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">44%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/5be589838118c7485836a0d795163ada_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">[CHÍNH HÃNG] KINH ĐÔ BÁNH TRUNG THU BÁNH NƯỚNG - 1 Bánh Nướng 1 Trứng 150g</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">56.000</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 2.4K</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">44%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/cef76ce7bb0eff3cde1409a7e6729663_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">Ghế ăn dặm Babywe BW01 cao cấp, dễ dàng gấp gọn và thay đổi chiều cao, cho bé từ 6-36 tháng tuổi</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">1.500.000</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 2</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">44%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/444af45662cd8fdda95a774d3dea22fc_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">Đồng Hồ Casio Nam Dây Thép Không Ghỉ EDIFICE EF-328SG-1AVUDF Chính Hãng</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">3.158.400</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 2</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">25%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/60929ce65b8080aa14e94762fe926af3_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">Đồ ngủ nữ sexy họa tiết nhiều màu, bộ đồ ngủ nữ lụa pijama quảng châu, đồ bộ nữ đồ mặc nhà cộc tay</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">108.800</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 120</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">36%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/a94e644f17641c49d5cb62a86fab1e0b_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">Giày đá bóng,giày đá banh sân cỏ nhân tạo đã khâu đế 100%</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">38.000</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 404</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">44%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>
            </div>

            <div class="row sm-gutter">
                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/e0528770a21958df8fc04edc072d5fd6_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">[TOORUNE] Son kem bóng Toorune</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">89.000</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 139</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">44%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/5be589838118c7485836a0d795163ada_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">[CHÍNH HÃNG] KINH ĐÔ BÁNH TRUNG THU BÁNH NƯỚNG - 1 Bánh Nướng 1 Trứng 150g</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">56.000</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 2.4K</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">44%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/cef76ce7bb0eff3cde1409a7e6729663_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">Ghế ăn dặm Babywe BW01 cao cấp, dễ dàng gấp gọn và thay đổi chiều cao, cho bé từ 6-36 tháng tuổi</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">1.500.000</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 2</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">44%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/444af45662cd8fdda95a774d3dea22fc_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">Đồng Hồ Casio Nam Dây Thép Không Ghỉ EDIFICE EF-328SG-1AVUDF Chính Hãng</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">3.158.400</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 2</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">25%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/60929ce65b8080aa14e94762fe926af3_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">Đồ ngủ nữ sexy họa tiết nhiều màu, bộ đồ ngủ nữ lụa pijama quảng châu, đồ bộ nữ đồ mặc nhà cộc tay</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">108.800</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 120</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">36%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>

                <div class="col l-2 m-4 c-6">
                    <a href="#" class="section-recommend-product">
                        <img src="https://cf.shopee.vn/file/a94e644f17641c49d5cb62a86fab1e0b_tn" alt="Ảnh Hàng" class="section-recommend-product-img">
                        <div class="section-recommend-product-body">
                            <div class="section-recommend-product-body__title">Giày đá bóng,giày đá banh sân cỏ nhân tạo đã khâu đế 100%</div>
                            <div class="section-recommend-product-body__des">
                                <div class="section-recommend-product-body-price">
                                    <span class="section-recommend-product-body-price__alphabet">₫</span>
                                    <span class="section-recommend-product-body-price__number">38.000</span>
                                </div>

                                <span class="section-recommend-product-body-sold">Đã bán 404</span>
                            </div>
                        </div>

                        <div class="section-recommend-product-favourite">
                            <span class="section-recommend-product-favourite-title">Yêu Thích</span>
                        </div>

                        <div class="section-recommend-product-down">
                            <span class="section-recommend-product-down__percent">44%</span>
                            <span class="section-recommend-product-down__title">GIẢM</span>
                        </div>

                        <div class="search-product-same">
                                Tìm Sản Phẩm Tương Tự
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}